{% extends "dashboard/index.html.twig" %}

{% block title %}Transcriptions - ReadTheVoice
{% endblock %}

{% block dashboardContent %}
	<div class="p-3">
		<h1>Transcriptions</h1>
	</div>
{% endblock %}
